<% if logged_in?  %>
    <script>
        window.currentUser = 
            <%= render("/api/users/user.json.jbuilder",
                user: current_user).html_safe %>
        window.mainChannel = <%= main_channel.id %>
    </script>
<% end %>

<main id="root">
    Error: React not running
</main>