@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap);
@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);

$background: white;
$hover-dark-blue: #0f2e42;
$hover-light-blue: #204e6e;
// $disabled-light-blue: #366e9c;
$dark-blue: #144363;
$link-blue: #1e718f;
$link-hover-blue: #175283;
$dark-tan: #d9cec1;
$light-tan: #ede3d5;
$text: #212120;
$lighter-text: #363634;
$lightest-text: #575754;

$err-red: #ab2d24;
$err-light-red: rgb(209, 21, 21);

$pale-blue: #e5f3f1;

$light-grey-tan: #787873;
$lighter-grey-tan: #818179;

$light-blue-grey: #cdd9d5;

$light-teal: #81c3c7;
$green: #418065;

$splash-sans-serif: 'Poppins', sans-serif;