@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);

$background: #f9f3e7;
$hover-dark-blue: #0f2e42;
$dark-blue: #144363;
$link-blue: #1e718f;
$link-hover-blue: #175283;
$dark-tan: #d9cec1;
$light-tan: #ede3d5;
$text: #212120;
$lighter-text: #363634;
$lightest-text: #575754;

$pale-blue: #e5f3f1;

$light-grey-tan: #787873;
$lighter-grey-tan: #818179;

$splash-sans-serif: 'Poppins', sans-serif;