.mainpage-body{
    position: relative;
    // height: 100vh;
    // width: 100vw;
    height: 100%;
    width: 100%;
    padding: 102px 0 0 260px;
    z-index: -1;
    top: 0;
    right: 0;
    .show {
        border-top: 1px solid $dark-tan;
        height: 100%;
        width: 100%;
    }
    footer {
        height: 136px;
        width: 100%;
        padding-left: 260px;
        bottom: 0;
        right: 0;
        z-index: 2;
        position: absolute;
        div {
            width: 100%;
            background: $light-tan;
            height: 100%;
            @include flex(column);
            h1 {
                font-size: 17px;
                margin-bottom: 26px;
            }
            button {
                color: $background;
                background: $green;
                height: 36px;
                width: 110px;
                border-radius: 3px;
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                vertical-align: center;
            }
        }
    }
}