.auth-page {
    &.signup {
        #logo-button {
            font-weight: 600;
            text-shadow: 1px 0 0 rgba($color: $text, $alpha: 1);
            @include logoLink();
            font-size: 32px;
            span {
                margin-left: 7px;
                font-size: 32px;
                letter-spacing: 0.75px;
            }
            height: 127.5px;
            color: $text;
            padding: 42px 0 38px;
        }
    }
    &.login{
        background: $light-tan;
        border-bottom: 1px solid $dark-tan;
    }
    font-family: $splash-sans-serif;
    // padding-bottom: 183px; 
    height: 100vh;
    min-height: 800px;
    position: relative;
    // margin-bottom: 100px;
    width: 100%;
    @include flex(column,center, flex-start);
    .auth-form-container {
        &.login {
            border: 1px solid $dark-tan;
            border-radius: 5px;
            box-shadow: 0 1px 1px -1px rgba($color: $text, $alpha: 1.0);
            margin: 147px 0 32px 0;
            position: relative;
            right: 6px;
        }
        width: 635px;
        height: 450px;
        background: $background;
        padding: 32px;
        padding-top: 31px;
        .signup {
            padding-bottom: 20px;
        }
        button {
            @include auth-button();
            &.demo {
                margin-left: 97px;
            }
        }
        .auth-form {
            @include flex(column);
            h1 {
                width: 572px;
                font-size: 44px;
                font-weight: 600;
                margin-bottom: 32px;
                height: 56px;
                position: relative;
                bottom: 7px;
            }
            h2 {
                font-size: 26px;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
            h3 {
                align-self: flex-start;
                width: 375px;
                margin: 0 auto 15px auto;
                font-size: 15px;
                strong {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            h4 {
                font-size:14px;
                margin: 1px 0 24px;
                letter-spacing: 0.5px;
            }
            form {
                label span {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    margin: 20px 0 8px;
                    height: 22px;
                }
                input {
                    display: block;
                    height: 50px;
                    width: 375px;
                    border: 1px solid $lightest-text;
                    border-radius: 4px;
                    margin-bottom: 8px;
                    padding: 12px;
                    font-size: 17px;
                }
                // button {
                //     @include auth-button();
                // }
            }
        }
        &.login {
            .auth-form form label span {
                margin: unset;
            }
        }
        &.signup {
            height: 615px;
            padding-top: 0px;
            margin: 0 0 20px;
            p {
                font-size: 15px;
                align-self: center;
                margin-top: 20px;
                text-align: center;
            a {
                color: $link-blue;
                font-weight: 500;
                &:hover {
                    color: $link-hover-blue;
                    text-decoration: underline;
                }
            }
            }
            .auth-form {
                input {
                    height: 44px;
                    width: 400px;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                }
                button {
                    margin-top: 32px;
                    width: 400px;
                    &:hover {
                        background: $hover-light-blue;
                        box-shadow: 0 0 0 1px $hover-light-blue;
                    }
                    &.demo {
                        margin-left: unset;
                        width: 400px;
                    }
                }
                .signup-error {
                    input {
                        border-radius: 4px 4px 0 0;
                        margin-bottom: unset;
                        border: 1px solid $err-light-red;
                    }
                    .error-msg {
                        border: 1px solid rgba($color: $err-light-red, $alpha: 0.3);
                        border-top: none;
                        background: rgba($color: $err-light-red, $alpha: 0.15);
                        width: 400px;
                        border-radius: 0 0 4px 4px;
                        // height: 37px;
                        @include flex(row,center,flex-start);
                        height: 37px;
                        padding: 8px 12px 10px;
                        p {
                            height: 100%;
                            font-size: 12px;
                            margin-top: unset;
                            text-align: start;
                        }
                        svg {
                            color: rgba($color: $err-light-red, $alpha: 0.8);
                            height: 16px;
                            width: 16px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }   
    }
    & > p {
        font-size: 15px;
        align-self: center;
        position: relative;
        a {
            color: $link-blue;
            font-weight: 500;
            &:hover {
                color: $link-hover-blue;
                text-decoration: underline;
            }
        }
    }

}

.errors {
    position: relative;
    z-index: 8;
    font-size: 15px;
    width: 635px;
    background: $background;
    border: 1px solid $dark-tan;
    border-left: 5px solid rgb(209, 21, 21);
    border-radius: 4px;
    li {
        @include flex(row,center,flex-start);
        svg {
            margin-left: 14px;
            color: $err-red;
            font-size: 18px;
        }
        p {
            margin-left: 15px;
        }
        height: 49px;
    }
    left: -5px;
    top: 128px;
}
.padding {
    padding-top: auto;
    background-color: $background;
    width: 100%;
}

.auth-footer-container {
    padding-top: 100px;
    background: $background;
.auth-footer {
    font-family: $splash-sans-serif;
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
    // flex-shrink: 0;
    background: $light-tan;
    div {
        height: 100%;
        margin: 0 auto;
        width: 1014px;
        padding: 0 24px;
        @include flex(row,center,space-between);
        color: $light-grey-tan;
        & > a {
            font-size: 25px;
        }
        ul {
            @include flex(row);
            font-size: 20px;
            margin-right: 20px;
            span {
                font-size: 13px;
                font-weight: 500;
                &:hover {
                    color: $lighter-grey-tan;
                    cursor: pointer;
                }
            }
            li {
                &:not(:last-child) {
                    margin-right: 11px;
                }
                &:not(:first-child):hover {
                    color: $link-blue;
                }
            }
        }
    }
}
}

.signup-footer-container {
    height: 26px;
    margin: 32px 0;
    @include flex (row);
    color: $light-grey-tan;
    width: 100%;
    position: absolute;
    bottom: 0;
    li {
        height: 22px;
        font-size: 14px;
        margin-right: 16px;
        text-align: center;
        a {
            height: 100%;
            letter-spacing: 0.5px;
            &:hover {
                color: $link-hover-blue;
                text-decoration: underline;
                margin-bottom: 4px;
            }
        }
    }
}

