body {
    background: $background;
    color: $text;
}

header {
    width: 100%;
    border-bottom: 1px solid $dark-tan;
}

.splash-header {
    @include splash-navbar();    
}

.auth-header {
    @include splash-navbar();
}

#logo-bg {
    height: 0;
    width: 0;
}


.btn-purple {
    @include button(white, $dark-blue)
}

.btn-white {
    @include button($dark-blue, $background)
}


.splash {
    font-size: 14px;
    font-family: $splash-sans-serif;
    button {
        height: 57px;
        padding: 0 40px 0 40px;
    }
}

