body {
    font-family: $splash-sans-serif;
}
.mainpage-head {
    width: 100%;
    .search-header {
        position: fixed;
        z-index: 2;
        height: 39px;
        background: mix($dark-blue, $hover-dark-blue, $weight: 50%);
        color: $background;
        width: 100%;
        border-bottom: 1px solid rgba($color: $background, $alpha: 0.2);
        @include flex(row, center, unset);
        .header-searchbar {
            margin: 0 auto;
            width: 500px;
            height: 24px;
            border: 1px solid rgba($color: $background, $alpha: 0.25);
            background: rgba($color: $background, $alpha: 0.05);
            border-radius: 6px;
            padding: 0 8px;
            font-size: 12px;
            @include flex(row, center, space-between);
            svg {
                font-size: 14px;
                margin-right: 2px;

            }
            &:hover {
                border-color: rgba($color: $background, $alpha: 0.5);
                cursor: pointer;
            }
        }
        button {
            margin-right: 16px;
            height: 26px;
            width: 26px;
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
    .sub-header {
        position: fixed;
        top: 39px;
        left: 260px;
        z-index: 2;
        height: 63px;
        width: calc(100% - 260px);
        // margin-left: auto;
        padding: 0 20px 0 16px;
        font-size: 14px;
        @include flex(row,center,space-between);
        border-bottom: 1px solid $dark-tan;
        .location-details {
            @include flex(row, center, space-between);
            width: 84px;
            height: 36px;
            padding: 8px;
            border-radius: 4px;
            vertical-align: center;
            font-size: 12px;
            color: $light-grey-tan;
            &:hover {
                background: $light-tan;
                color: $lighter-text;
            }
            svg {
                font-size: 20px;
                margin-right: 8px;
            }
        }
    }

}