.sidebar {
    position: fixed;
    top: 39px;
    z-index: 2;
    background: $dark-blue;
    height: calc(100vh - 39px);
    width: 260px;
    color: $background;
    font-weight: 400;
    & > * {
        width: 260px;
    }
    .sidebar-head {
        border-bottom: 1px solid rgba($color: $background, $alpha: 0.2);
        position: fixed;
        z-index: 1;
        top: 39px;
        height: 63px;
        @include flex(row,center,flex-start);
        padding: 0 54px 0 16px;
        &:hover {
            cursor: pointer;
        }
        div {
            & > span {
                &:first-of-type {
                    display: block;
                    line-height: 10px;
                    margin-top: 8px;
                    span {
                        margin-right: 5px;
                    }
                    svg {
                        font-size: 10px;
                    }
                    &.lax-title {
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
                &:last-of-type {
                    font-size: 12px;
                }
            }
        }
        button {
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50px;
            background: $background;
            @include flex(row);
            right: 16px;
            svg {
                width: 16px;
                height: 16px;
                color: $dark-blue;
            }
        }

        aside.dropdown {
            display: block;
            &.hide {
                display: none;
            }
            background: $background;
            box-shadow: 0 8px 32px rgba($color: $text, $alpha: 0.2);
            width: 300px;
            position: absolute;
            z-index: 1;
            top: 58px;
            border: 1px solid rgba($color: black, $alpha: 0.18);
            border-radius: 6px;
            cursor: default;
            color: $lighter-text;
            font-weight: 400;
            padding-bottom: 12px;
            & > * {
                position: relative;
            }
            .user {
                @include flex(row, center, flex-start);
                height: 55px;
                padding: 28px 12px 16px 24px;
                .avatar {
                    height: 36px;
                    width: 36px;
                    background-color: rgba($color: $link-blue, $alpha: 0.2);
                    border-radius: 4px;
                    overflow: none;
                }
                p {
                    @include flex(column, flex-start, flex-end);
                    position: relative;
                    top: 3px;
                    height: 36px;
                    line-height: 18px;
                    span {
                        margin-left: 8px;
                        &:first-of-type {
                            font-weight: 700;
                            font-size: 15px;
                            color: $text;
                        }
                        &:last-of-type {
                            font-size: 13px;
                            color: $light-grey-tan;
                        }
                    }
                }
            }
            ul { 
                left: -1px;
                width: 299px;
                // margin-bottom: 8px;
                margin-top: 12px;
                font-size: 15px;
                li {
                    padding: 1px 12px 0 24px;
                    height: 28px;
                    &:hover {
                        background: $link-blue;
                        color: $background;
                        cursor: pointer;
                    }
                }
            }
            .options {
                left: -1px;
                width: 299px;
                margin-bottom: 8px;
                margin-top: 12px;
                ul {
                    font-size: 15px;
                    li {
                        height: 28px;
                        padding: 2px 24px 0 24px;
                        &:hover {
                            background: $link-blue;
                            color: $background;
                            cursor: pointer;
                        }
                    }
                }
            }
            .workspace-info-container {
                border-top: 1px solid $dark-tan;
                border-bottom: 1px solid $dark-tan;
                padding: 17px 12px 17px 24px;
                .workspace-info {
                    color: text;
                    > p {
                        font-size: 12px;
                        margin: 12px 28px 0 0;
                        a {
                            color: $link-blue;
                            font-weight: 600;
                            &:hover {
                                color: $link-hover-blue;
                                text-decoration: underline;
                            }
                        }
                    }
                    section {
                        width: 100%;
                        @include flex(row, flex-start, flex-start);
                        p {
                            @include flex(column, flex-start, flex-start);
                            span {
                                line-height: 18px;
                                &:first-of-type {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                &:last-of-type {
                                    font-size: 12px;
                                    color: $light-grey-tan;
                                }
                            }
                        }
                        figure {
                            border: 1px solid $dark-tan;
                            border-radius: 4px;
                            height: 36px;
                            width: 36px;
                            background-color: $pale-blue;
                            font-size: 33px;
                            transform: scale(-1, 1);
                            overflow: hidden;
                            margin-right: 12px;
                            #logo-img {
                                position: relative;
                                top: -6px;
                                right: 3px;
                                // height: 36px;
                                // width: 36px;
                                * {
                                    fill: url(#logo-colors);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & > div {
        font-weight: 300;
        position: relative;
        top: 63px;
    }
    .sidebar-content {
        border-top: 1px solid rgba($color: $background, $alpha: 0.2);
        margin-top: 112px
    }
    .sidebar-section {
        &.c {
            margin-top: 14px;
        }
        font-size: 13.5px;
        .section-head-container {
            padding: 0 16px;
            height: 36px;
            @include flex(row, center, flex-start);
            width: 100%;
            position: relative;
            .section-head {
                width: 100%;
                position: relative;
                height: 22px;
                text-shadow: 0.2px 0 0 rgba($color: $background, $alpha: 1);
                padding-left: 21px;
                .fa-caret-right, .fa-caret-down {
                    position: absolute;
                    // font-size: 12px;
                    bottom: 8px;
                    left: 3.5px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            figure {
                position: absolute;
                right: 16px;
                bottom: 6px;
                height: 28px;
                width: 28px;
                padding: 4px;
                vertical-align: center;
                text-align: center;
                border-radius: 4px;
                &:hover {
                    background: rgba($color: $background, $alpha: 0.2);
                    cursor: pointer;
                }
                .plus {
                    font-size: 23px;
                    transform: scale(1.2,1.15);
                    position: relative;
                    bottom: 7px;
                    -webkit-text-stroke: 0.3px $dark-blue;
                }
            }
        }
        ul li {
            padding: 4px 16px;
            @include flex(row, flex-end, flex-start);
            height: 28px;
            vertical-align: center;
            // * {
                // margin-right: 5px;
                
            // }
            &:hover, &:focus {
                background: linear-gradient(to right, mix($dark-blue, $hover-dark-blue, $weight: 60%), mix($dark-blue, $hover-dark-blue, $weight: 40%));
            }
            position: relative;
            top: -3px;
            span {
                vertical-align: baseline;
                font-size: 15px;
                text-shadow: 0.1px 0 0 rgba($color: $background, $alpha: 0.5);
            }
            figure {
                &.icon {
                    position: relative;
                    left: 2px;
                    top: 1px;
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                    svg.fa-hashtag {
                        transform: scale(0.8,1);
                        font-size: 13px;
                    }
                    svg:not(.fa-hashtag) {
                        font-size: 11px;
                        transform: scale(0.85,1);
                    }
                    svg.fa-circle {
                        font-size: 10px;
                        transform: scale(1,0.95);
                        color: mix($link-blue, green, $weight: 40%)
                    }
                    
                }
                &.x{
                    color: rgba($color: $background, $alpha: 0.6);
                    font-size: 15px;
                    display: none;
                    transform: scale(1.75,1.13);
                    position: absolute;
                    right: 26px;
                    top: 2px;
                }
            }
            &:hover{
                cursor: pointer;
                figure.x {
                    display: block;
                }
            }
        }
        // &.dm {
        //     ul li {
        //         @include flex(row,center,space-between);
        //         // width: 228px;
        //         & * {
        //             // margin-right: 5px;
        //             // width: 100%;
        //             .fa-times {
        //                 margin-left: 130px;
        //                 &:first-of-type {
        //                     margin-left: 130px;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

// .sidebar-head {
//     position: fixed;
//     top: 102px;
// }