.sidebar {
    // position: relative;
    position: fixed;
    top: 39px;
    z-index: 1;
    background: $dark-blue;
    height: calc(100vh - 39px);
    width: 260px;
    color: $background;
    font-weight: 400;
    & > * {
        width: 260px;
    }
    .sidebar-head {
        border-bottom: 1px solid rgba($color: $background, $alpha: 0.2);
        position: fixed;
        top: 39px;
        height: 63px;
        @include flex(row,center,flex-start);
        padding: 0 54px 0 16px;
        // margin-right: auto;
        div {
            // display: block;
            & > span {
                &:first-of-type {
                    display: block;
                    span {
                        margin-right: 5px;
                    }
                    svg {
                        font-size: 10px;
                    }
                }
                &:last-of-type {
                    font-size: 12px;
                }
            }
        }
        button {
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50px;
            background: $background;
            @include flex(row);
            right: 16px;
            svg {
                width: 16px;
                height: 16px;
                color: $dark-blue;
            }
        }
    }
    & > div {
        font-weight: 300;
        position: relative;
        top: 63px;
    }
    .sidebar-section {
        padding: 0 16px;
        margin-top: 16px;
        ul li * {
            margin-right: 5px;
        }
        &.dm {
            ul li {
                @include flex(row,flex-start,space-between);
                // width: 228px;
                & * {
                    // margin-right: 5px;
                    // width: 100%;
                    .fa-times {
                        margin-left: 130px;
                        &:first-of-type {
                            margin-left: 130px;
                        }
                    }
                }
            }
        }
    }
}

// .sidebar-head {
//     position: fixed;
//     top: 102px;
// }